.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    height: 90px;
    margin: auto;
    margin-top: 25px;
}
.header__logo{
    width: 247px;
    height: 62px;
}
.header__propaganda{
    width: 100%;
    height: 90px;
    margin-left: 153px;
    overflow: hidden;
}
.nav{
    background-color: #393939;
    width: 100%;
    max-width: 1170px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 25px auto;
}
.nav__checkbox{
    display: none;
}
.nav__checkbox:checked ~ .nav__links{
    width: 200px;
    height: 300px;
    padding: 40px;    
    transition: 0.5s;
    }
.nav__label{
    display: none;
    cursor:pointer;
}
.nav__links{
    width: 100%;
}
.nav__links__link{
    height: 60px;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    font-family: var(--texto-general);
    text-decoration: none;
    position: relative;
}
.nav__links__link:hover{
    background-color:#F65050;
}
.nav__links__link:hover:before{
    content: "";
    background-color:#ffffff;
    height: 2px;
    width: calc(100% - 32px);
    position: absolute;
    bottom: 10px;
}
.nav__search{
    width: 184px;
    height: 60px;
    padding: 25px 15px;
    background-color: transparent;
    border: transparent;
    border-left: solid rgb(229, 229, 229, .3) 1px;
}
.nav__lupa{
    position: absolute;
    top: 25px;
    right: 35px;
}

.banner{
    width: 1170px;
    display: grid;
    grid-template: 
    "uno dos    tres"
    "uno cuatro cuatro"
    ;
    row-gap: 14px;
    column-gap: 15px;
    margin-bottom: 25px;
    margin: 25px auto;
}
.banner__uno{
    grid-area: uno;
}
.banner__dos{
    grid-area: dos;
}
.banner__tres{
    grid-area: tres;
}
.banner__cuatro{
    grid-area: cuatro;
}

.imperdibles{
    width: 870px;
    height: 900px;
    margin: 25px auto;
}
.imperdibles__barra-superior{
    width: 870px;
    height: 43px;
    display: flex;
    justify-content: space-between;
}
.imperdibles__barra-superior__titulo{
    font-family: Oswald Bold;
    font-size: 24px;
    line-height: 35.57px;
    color: #F65050;
}
.imperdibles__barra-superior__boton-uno{
    width: 28px;
    height: 21px;
    background-color: #FE4A51;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__barra-superior__boton-dos{
    width: 68px;
    height: 21px;
    background-color: #A56CBD;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__barra-superior__boton-tres{
    width: 50px;
    height: 21px;
    background-color: #2ECC71;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__barra-superior__boton-cuatro{
    width: 111px;
    height: 21px;
    background-color: #0088FF;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__barra-superior__boton-cinco{
    width: 57px;
    height: 21px;
    background-color: #997C00;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__barra-superior__boton-seis{
    width: 64px;
    height: 21px;
    background-color: #49CFE8;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__barra-superior__boton-siete{
    width: 55px;
    height: 21px;
    background-color: #0088FF;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__barra-superior__boton-ocho{
    width: 55px;
    height: 21px;
    background-color: #4C60F5;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
}
.imperdibles__linea{
    width: calc(100%-140px);
    height: 2px;
    border: transparent;
    border-left: solid #F65050 70px;
    background-color: #393939;
    margin-bottom: 25px;
}
.imperdibles__noticias{
    display: grid;
    grid-template:
    "principal  secundaria"
    ;
}
.imperdibles__noticia-principal{
    width: 394px;
    grid-area: principal;
}
.imperdibles__noticia-principal__contenedor{
    position: relative;
}
.imperdibles__noticia-principal__boton{
    width: 68px;
    height: 21px;
    background-color: #A56CBD;
    border: none;
    font-family: var(--texto-general);
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    left: 15px;
    top: 15px;
}
.imperdibles__noticia-principal__texto{
    font-family: var(--texto-secundario);
    font-size: 10px;
    line-height: 10.09px;
    color: #2D2D2D;
    margin-top: 20px;
}
.imperdibles__noticia-principal__titulo{
    font-family: Oswald Bold;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.68px;
    color: #393939;
    margin-top: 5px;
}
.imperdibles__noticia-principal__parrafo{
    font-family: var(--texto-secundario);
    font-size: 14px;
    line-height: 15.55px;
    font-weight: 250;
    color: #39393999;
    margin-top: 5px;
}
.imperdibles__noticia-secundaria{
    width: 378px;
    grid-area: secundaria;
}
.imperdibles__noticia-secundaria--uno__imagen{
    position: absolute;
}
.imperdibles__noticia-secundaria--uno__fecha{
    font-family: var(--texto-secundario);
    font-size: 10px;
    line-height: 10.09px;
    color: #2D2D2D;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--uno__titulo{
    width: 256px;
    font-family: Oswald Bold;
    font-size: 15px;
    line-height: 22.23px;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--dos__imagen{
    position: absolute;
}
.imperdibles__noticia-secundaria--dos__fecha{
    font-family: var(--texto-secundario);
    font-size: 10px;
    line-height: 10.09px;
    color: #2D2D2D;
    margin-top: 20px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--dos__titulo{
    width: 256px;
    font-family: Oswald Bold;
    font-size: 15px;
    line-height: 22.23px;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--tres__imagen{
    position: absolute;
}
.imperdibles__noticia-secundaria--tres__fecha{
    font-family: var(--texto-secundario);
    font-size: 10px;
    line-height: 10.09px;
    color: #2D2D2D;
    margin-top: 20px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--tres__titulo{
    width: 256px;
    font-family: Oswald Bold;
    font-size: 15px;
    line-height: 22.23px;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--cuatro__imagen{
    position: absolute;
}
.imperdibles__noticia-secundaria--cuatro__fecha{
    font-family: var(--texto-secundario);
    font-size: 10px;
    line-height: 10.09px;
    color: #2D2D2D;
    margin-top: 20px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--cuatro__titulo{
    width: 256px;
    font-family: Oswald Bold;
    font-size: 15px;
    line-height: 22.23px;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--cinco__imagen{
    position: absolute;
}
.imperdibles__noticia-secundaria--cinco__fecha{
    font-family: var(--texto-secundario);
    font-size: 10px;
    line-height: 10.09px;
    color: #2D2D2D;
    margin-top: 20px;
    position: relative;
    left: 100px;
    top: 5px;
}
.imperdibles__noticia-secundaria--cinco__titulo{
    width: 256px;
    font-family: Oswald Bold;
    font-size: 15px;
    line-height: 22.23px;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
    left: 100px;
    top: 5px;
}

.entretenimiento__barra-superior__titulo{
    font-family: Oswald Bold;
    font-size: 24px;
    line-height: 35.57px;
    color: #F65050;
}
.entretenimiento__linea{
    width: calc(100%-140px);
    max-width: 1170px;
    height: 2px;
    border: transparent;
    border-left: solid #F65050 70px;
    background-color: #393939;
    margin-bottom: 25px;
}

.footer{
    width: 100%;
    height: 355px;
    background-color: #393939;
    justify-content: space-around;
    display: grid;
    grid-template: 
    "uno dos tres cuatro"
    ;
}
.footer__uno__logo{
    width: 247px;
    height: 62px;
    margin-bottom: 31px;
    padding-top: 44px;
}
.footer__uno__texto{
    background-color: transparent;
    border: transparent;
    color: #ffffff;
    font-family: var(--texto-secundario);
    width: 270px;
    height: 71px;
    margin-bottom: 35px;
}
.footer__uno__iconos{
    padding-bottom: 82px;
    width: 235px;
    display: flex;
    justify-content: space-between;
}

.footer__dos{
    padding-top: 50px;
    width: 270px;
}
.footer__dos__linea{
    width: calc(100%-70px);
    height: 2px;
    border: transparent;
    border-left: solid #F65050 70px;
    background-color: #ffffff;
    margin-top: 10px;
}
.footer__dos__gallery{
    padding-top: 23px;
    display: grid;
    grid-template:
    "uno     dos     tres" 
    "cuatro  cinco   seis"
    ;
    row-gap: 6px;
    column-gap: 7px;
}
.footer__dos__gallery-uno{
    grid-area: uno;
}
.footer__dos__gallery-dos{
    grid-area: dos;
}
.footer__dos__gallery-tres{
    grid-area: tres;
}
.footer__dos__gallery-cuatro{
    grid-area: cuatro;
}
.footer__dos__gallery-cinco{
    grid-area: cinco;
}
.footer__dos__gallery-seis{
    grid-area: seis;
}

.footer__tres{
    width: 270px;
    padding-top: 50px;
}
.footer__tres__linea{
    width: calc(100%-70px);
    height: 2px;
    border: transparent;
    border-left: solid #F65050 70px;
    background-color: #ffffff;
    margin-top: 10px;
}

.footer__cuatro{
    width: 288px;
    padding-top: 50px;
}
.footer__cuatro__linea{
    width: calc(100%-70px);
    height: 2px;
    border: transparent;
    border-left: solid #F65050 70px;
    background-color: #ffffff;
    margin-top: 10px;
}
.footer__cuatro__texto{
    background-color: transparent;
    border: transparent;
    color: #ffffff;
    font-family: var(--texto-secundario);
    margin-top: 25px;
}
.footer__cuatro__email{
    width: 270px;
    height: 40px;
    background-color: #ffffff;
    font-family: var(--texto-secundario);
    font-size: 12px;
    text-align: center;
    border: none;
    margin-top: 25px;
    margin-bottom: 10px;
}
.footer__cuatro__boton{
    width: 270px;
    height: 40px;
    background-color: #F65050;
    font-family: Sofia Pro Bold;
    font-weight: 700px;
    font-size: 18px;
    color: #ffffff;
    border: none;
}

@media only screen and (max-width: 1170px) {
    .nav__label{
        display: block;
    }
    .nav__links{
        width: 0px;
        height: 0px;
        position: absolute;
        top:77px;
        left: 5vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: white;
        padding: 0px;
        overflow: hidden;
        transition: 0.5s;
        display: block;
    }
    .nav__links__link{
        color: #000000;   
    }
    .nav__links__link:hover{
        position: relative;
        left: 20px;
        transition: 0.3s;
        background-color: transparent;
    }
    .banner{
        width: 100%;
        grid-template: 
        "uno uno"
        "dos tres"
        "cuatro cuatro"
        ;
    }
    
    .banner__uno{
        grid-area: uno;
        width: 100%;
    }
    .banner__dos{
        grid-area: dos;
        width: 100%;
    }
    .banner__tres{
        grid-area: tres;
        width: 100%;
    }
    .banner__cuatro{
        grid-area: cuatro;
        width: 100%;
    }
    .footer{
        height: 710px;
        display: grid;
        grid-template: 
        "uno dos"
        "tres cuatro"
    ;
    }
}
@media only screen and (max-width: 800px){
    .header__propaganda{
        display: none;
    }
    .footer{
        height: 1420px;
        align-items: center;
        display: grid;
        grid-template: 
        "uno"
        "dos"
        "tres"
        "cuatro"
    ;
    }
}