@import url('https://fonts.googleapis.com/css2? family= Oswald & display=swap');

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url(./../fonts/SofiaProRegular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Sofia Pro Bold';
    src: url(./../fonts/SofiaProBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Oswald Bold';
    src: url(./../fonts/Oswald-VariableFont_wght.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
  }

:root{
    --texto-general: 'Oswald', sans-serif;
    --texto-secundario: 'Sofia Pro Regular';
}

*{
    margin: 0px;
}

body{
    max-width: 1440px;
    margin: auto;
}

h2{
    font-family: var(--texto-general);
    font-size: 24px;
    color: #ffffff;
    line-height: 24.22px;
    font-weight: 400px;
    text-align: left;
}
